.nodeContainer {
    position: relative;
    display: flex;
    font-size: 10px;
    text-align: left;
    flex-direction: column;
    padding: 10px;
    white-space: nowrap;
}

.nodeItem {
    display: flex;
    flex-direction: row;
}

.nodeItemLable {
    width: 200px;
    height: 40px;
}

.nodeItemLable>label {
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.nodeItemContent {
    flex: 1;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
}

.textInput {
    width: 400px;
    height: 100%;
    font-size: 18px;
}

.nodeItemContentList {
    flex: 1;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
}

.nodeItemContentCheckList {
    flex: 1;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.nodeItemContentCheck {
    margin-right: 20px;
    display: flex;
    height: 100%;
    align-items: center;
    width: 100px;
    font-size: 18px;
    line-height: 30px;
}

.nodeItemContentCheck>input {
    margin-top: 0px;
    margin-right: 10px;
}

.textInputDelete {
    margin-left: 20px;
    height: 30px;
    display: flex;
    font-size: 20px;
    align-items: center;
}

.nodeItemOperator {
    width: 200px;
    height: 40px;
    display: flex;
    font-size: 20px;
    align-items: center;
}

.nodeItemOperator>span {
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.nodeItemOperator>span:hover {
    border: 1px solid #88bdf3;
    border-radius: 5px;
}

.nodeSave {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}