.existed-item {
    background-color: #ececf1;
    border-radius: 2px;
    display: flex;
    margin: 2px;
    min-width: 0px;
    box-sizing: border-box;
    height: 30px;
}

.display-item {
    border-radius: 2px;
    color: #353740;
    font-size: 100%;
    overflow: hidden;
    padding: 4px 6px 6px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.remove-item {
    box-align: center;
    align-items: center;
    border-radius: 2px;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

.remove-item:hover {
    background-color: rgb(255, 189, 173);
    color: rgb(222, 53, 11);
}