canvas[data-id] {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.cytoscapePanel {
    width: 100%;
    height: 100%;
    position: relative;
}

.layoutSelector {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    width: 200px;
}