.node-container {
    position: relative;
    display: flex;
    font-size: 10px;
    text-align: left;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 3px;
    color: #222;
    border-width: 1px;
    border-style: solid;
    border-color: #1a192b;
    white-space: nowrap;
    flex: 1;
    min-width: 300px;
    min-height: 50px;
}

.node-container-selected {
    border-color: #ff0000;
}

.class-name {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
}

.list-display {
    padding-left: 0px;
    list-style: none;
}

.customHandle {
    width: 10px;
    height: 10px;
}

.react-flow__handle-right {
    right: -5px;
    top: 50%;
    transform: translate(0, -50%);
}

.react-flow__handle-left {
    top: 50%;
    left: -5px;
    transform: translate(0, -50%);
}

.react-flow__handle-top {
    left: 50%;
    top: -5px;
    transform: translate(-50%, 0);
}

.react-flow__handle-bottom {
    top: auto;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, 0);
}