.nodeHandleDisplay {
    background: silver
}

.nodeHandleHidden {
    opacity: 0;
    pointer-events: none;
}

.nodeHandleHidden2 {
    opacity: 0;
    pointer-events: none;
}

.ShapeNode:hover>div.nodeHandleHidden {
    opacity: 1;
    pointer-events: all;
    background: silver
}

.nodeDisplayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.nodeDisplayLable {
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 12px;
}