.header-container {
    height: 100%;
    display: flex;
    border-bottom: 1px solid var(--bs-border-color-translucent);
}

.header-nav {
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    line-height: 18px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20vh;
    list-style: none;
    flex: 1 1 auto;
}

.header-nav div {
    margin-right: 20px;
}

.header-nav div a {
    text-decoration: unset;
}

.header-route-container {
    position: "relative";
    text-align: left;
    margin-right: 20px;
}

.header-route-container ul {
    width: 200px;
    color: var(--bs-link-color);
}

.header-route-container ul li {
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
}

.header-user {
    display: flex;
    align-items: center;
    margin-right: 50px;
}