html {
  color: #213547;
  background-color: #ffffff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html,
.container {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  text-align: center;
  place-items: center;
  overflow-x: hidden;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#react-web-root {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#react-web-root::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollable {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.flex {
  display: flex;
  flex-direction: column;
}

[data-style="route-out-container"] {
  flex: 1 1 auto;
  height: 100%;
  /* overflow: hidden;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;*/
  width: 100%;
  margin: 0 auto !important;
}

.header {
  background-color: aliceblue;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  white-space: pre;
}

a:hover {
  color: #747bff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.excalidraw .dropdown-menu {
  position: absolute;
  top: 100%;
  margin-top: 0.25rem;
  display: block;
  padding: 0;
}

*[data-style-nowrap] {
  white-space: pre !important;
}

*[data-style-font-size-18] * {
  font-size: 18px !important;
}

*[data-style-font-size-16] * {
  font-size: 16px !important;
}

*[data-style-nowrap] li[data-itemid] {
  white-space: pre !important;
}

[data-style="height100"] {
  height: 100%;
}

[data-style="flex1"] {
  flex: 1;
}

[data-style="flex"] {
  display: flex;
  flex-direction: column;
}