:root {
  --app-header-height: 50px
}

body,
html,
.container {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  text-align: center;
  place-items: center;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  overflow-y: hidden;
}

.flex-fill {
  flex: 1;
  height: calc(100% - var(--app-header-height));
}

.route-out-container {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
  /* align-content: flex-start;
  justify-content: center;
  align-items: stretch;*/
  width: 100%;
  margin: 0 auto !important;
}

.header {
  height: var(--app-header-height);
  background-color: aliceblue;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.sidebar-menu-icon {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  z-index: 99;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  align-items: center;
  justify-content: center;
}

.sidebar-menu-icon:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 0 0.2rem #d2f4d3;
  outline: 0;
}

.sidebar-menu-icon svg {
  height: 40px;
  width: 40px;
  color: #3a1136;
  /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
}

.excalidraw .dropdown-menu {
  position: absolute;
  top: 100%;
  margin-top: 0.25rem;
  display: block;
  padding: 0;
}

*[data-style-nowrap] {
  white-space: pre !important;
}

*[data-style-font-size-18] * {
  font-size: 18px !important;
}

*[data-style-font-size-16] * {
  font-size: 16px !important;
}

*[data-style-nowrap] li[data-itemid] {
  white-space: pre !important;
}