.dropdown-container {
    flex: 1 1 50%;
    display: flex;
    border: 1px solid #c5c5d2;
    border-radius: 3px;
    height: 36px;
    position: relative;
}

.dropdown-container ul {
    top: 40px;
    max-height: 50vh;
}

.dropdown-display-container {
    display: flex;
    flex: 1;
}

.dropdown-display {
    height: 100%;
    line-height: 24px;
    font-size: 16px;
    padding-top: 5px;
    flex: 1;
    pointer-events: none;
    text-transform: capitalize;
}

.dropdown-icon {
    width: 40px;
    padding-top: 5px;
}

.dropdown-item {
    text-transform: capitalize;
    cursor: pointer;
}

.dropdown-item.selected {
    color: #fff;
    text-decoration: none;
    background-color: #0dcaf0;
}