.qa-item-align {
    text-align: left;
}

.qa-item-align .mb-3 .row {
    align-items: center
}

.qa-item-align .mb-3 .display-value {
    border: 0;
    text-align: right;
}

.dropdown-menu {
    height: 50vh;
    overflow-y: auto;
    overflow-x: clip;
}

.opertion-container {
    height: calc(80vh - 35px);
    overflow: auto;
}