.edit-pg-body {
    display: flex;
    margin-bottom: 10px;
    flex: 1;
    flex-direction: column;
}

.edit-text-tip {
    margin: 10px 0 5px 0;
    text-align: left;
    font-size: 16px;
}

.edit-input-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.edit-input-container textarea {
    flex: 1;
    font-size: 15px;
    line-height: 24px;
    padding: 12px 16px;
    white-space: pre-wrap;
    resize: none;
}

.edit-input-container-left {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.edit-input-container-input {
    flex: 1;
    display: flex;
}


.edit-input-container-right {
    flex: 1;
    margin-left: 10px;
    display: flex;
    background-color: #f7f7f8;
    font-size: 15px;
    line-height: 24px;
    padding: 12px 16px;
    white-space: pre-wrap;
}