.history-container {
    height: 100%;
    box-sizing: border-box;
}

ul.timeline-3 {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

.history-item-wrap {
    height: 80px;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.history-selected {
    background-color: #ebfaeb !important;
}

.history-item-wrap:hover {
    background-color: #f7f7f8;
}

.history-current {
    height: 50px;
}

.history-item-wrap.history-current::before {
    height: 50px;
}

.history-item-wrap::after {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 76px;
    width: 10px;
    height: 10px;
    z-index: 400;
    top: 10px;
}

.history-item-wrap:hover:after {
    background: #22c0e8;
}


.history-item-wrap:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 80px;
    width: 2px;
    height: 80px;
    z-index: 400;
}

.history-item {
    display: flex;
    padding: 16px;
    height: 100%;
}

.history-day-display {
    text-align: left;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    font-weight: 700;
}

.history-item-time {
    flex: 1 1 65px;
    font-weight: 600;
    font-size: 16px;
}

.history-item-prompt {
    height: 40px;
    overflow: hidden;
    overflow-wrap: break-word;
    display: block;
    word-break: break-all;
    flex: 1 1 100%;
    margin-left: 35px;
    line-height: 20px;
}