.insert-container-left {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.insert-container-left span,
.insert-container-left textarea {
    height: 100% !important;
}

.insert-container-right {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.insert-container-right-completion {
    flex: 1;
    background-color: #f7f7f8;
    font-size: 16px;
    padding: 12px 16px;
    line-height: 24px;
    font-weight: 400;
    white-space: pre-wrap;
    text-align: initial;
}

.insert-placeholder {
    position: absolute;
    left: 20px;
    top: 10px;
    pointer-events: none;
}

.insert-placeholder .insert-placeholder-lg {
    font-size: 20px;
    color: #8e8ea0;
}

.insert-placeholder .insert-placeholder-md {
    font-size: 14px;
    color: #8e8ea0;
}