.qa-item-align {
    text-align: left;
}

.qa-item-align .mb-3 .row {
    align-items: center
}

.mb-3.qa-item-align button {
    width: auto;
    margin-left: calc(var(--bs-gutter-x));
}

.qa-item-align .mb-3 .display-value {
    border: 0;
    text-align: right;
}

.dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: clip;
}

.opertion-container {
    height: 100%;
    overflow: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.pg-input-body {
    display: flex;
    margin-bottom: 10px;
    flex: 1;
    max-height: 85vh;
}

.pg-input-body textarea {
    resize: none;
}