.header-container {
    /* height: 100%; */
    display: flex;
    /* border-bottom: 1px solid var(--bs-border-color-translucent); */
    height: 50px;
    line-height: 50px;
    background-color: #b55fc1;
}

.header-nav {
    font-size: 18px;
    font-weight: 400;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 100px);
    /* flex: 1; */
    list-style: none;
    /* overflow-x: auto;
    overflow-y: hidden; */
    justify-content: center;
    align-items: center;
}

.header-nav div a {
    text-decoration: unset;
    text-transform: capitalize;
}

.header-route-container {
    position: "relative";
    text-align: left;
    margin-right: 20px;
}

.header-route-container ul {
    width: 200px;
    color: var(--bs-link-color);
}

.header-route-container ul li {
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
}

.header-user {
    width: 100px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

@media (max-width: 1024px) {
    /* .header-nav {
        padding-left: 2vh;
    } */

    .header-user {
        margin-right: 5px;
    }
}

@media (max-width: 768px) {
    .header-nav {
        justify-content: flex-start;
    }

    .header-user {
        margin-right: 0px;
    }
}