div[data-style="variant"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 0%;
}

div[class="dropdown-menu show"] {
    position: fixed !important;
}

.nav-item a {
    height: 50px;
    line-height: 50px;
    display: flex;
    color: #fff !important;
    background-color: #f72e61 !important;
    align-items: center;
    border: 0px !important;
    border-radius: 0 !important;
    width: 200px;
    justify-content: center;
}

/* .nav-item a[class="nav-link active"] {
    background-color: #333 !important;
} */

a[class="dropdown-item active"] {
    background-color: #333 !important;
}

a[class="dropdown-toggle nav-link active"] {
    background-color: #333 !important;
}